<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.project.dao.GoodsMapper">

    <resultMap id="goodMap" type="Goods">
        <id column="goods_id" property="id"/>
        <result column="goods_name" property="name"/>
        <result column="specification" property="specification"/>
        <!--                <result column="warehouse_id" property=""-->
    </resultMap>

    <insert id="addGoods" parameterType="Goods">
        insert into goods (goods_name, specification)
        values (#{name}, #{specification});
    </insert>


    <delete id="deleteGoodsByid" parameterType="int">
        delete
        from goods
        where goods_id = #{id}
    </delete>


    <select id="queryGoods" parameterType="Goods" resultMap="goodMap">
        select g.*, sum(gwr.number) number
        from goods g,
        goods_warehouse_relation gwr
        <where>
            gwr.goods_id = g.good_id
            <if test="id != null and id != 0">
                and g.goods_id = #{id}
            </if>
            <if test="name != null and name != ''">
                and g.goods_name = #{name}
            </if>
            <if test="specification != null and specification != ''">
                and g.specification like #{specification};
            </if>
        </where>
        group by g.goods_id;
    </select>

    <!--    进货-销售计算库存的方式-->
    <!--    <select id="queryGoods" parameterType="Goods" resultMap="goodMap">-->
    <!--        set @number = (-->
    <!--            select (sum(iod.import_number) - sum(sod.sell_number))-->
    <!--            from sell_order sod, import_order iod where sod.goods_id = #{id} and iod.goods_id = sod.goods_id-->
    <!--        );-->

    <!--        select g.*, @number number-->
    <!--        from goods g-->
    <!--        <where>-->
    <!--            <if test="id != null and id != 0">-->
    <!--                g.goods_id = #{id}-->
    <!--            </if>-->
    <!--            <if test="name != null and name != ''">-->
    <!--                and g.goods_name = #{name}-->
    <!--            </if>-->
    <!--            <if test="specification != null and specification != ''">-->
    <!--                and g.specification like #{specification};-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->

    <select id="getStockById">
        select (sum(iod.import_number) - sum(sod.sell_number))
        from sell_order sod,
             import_order iod
        where sod.goods_id = #{id}
          and iod.goods_id = sod.goods_id
    </select>

    <update id="updateGoods" parameterType="Goods">
        update goods
        <set>
            <if test="name != null and name != ''">
                goods_name = #{name},
            </if>
            <if test="specification != null and specification != ''">
                specification = #{specification},
            </if>
        </set>
        where goods_id = #{id};
    </update>


</mapper>















