<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.project.dao.SellOrderGroupMapper">

    <resultMap id="sellOrderMap" type="SellOrder">
        <id column="group_id" property="sellOrderGroupId"/>
        <result column="group_name" property="groupName"/>
        <result column="sell_time" property="sellTime"/>
        <result column="order_status" property="sellStatus"/>
        <result column="sell_unit_price" property="sellUnitPrice"/>
        <result column="sell_number" property="sellNumber"/>
        <result column="goods_id" property="sellGoodsId"/>
        <result column="remark" property="sellOrderRemark"/>
        <result column="customer_id" property="customerId"/>
        <collection property="sellOrders" ofType="SellOrder">
            <id column="order_id" property="sellOrderId"/>
        </collection>
    </resultMap>


    <insert id="insertSellOrderGroup" parameterType="SellOrderGroup">
        # 先插入一条group记录
        insert into sell_order_group (group_name, sell_time, remark, order_type)
        values (#{groupName}, #{sellTime}, #{sellOrderRemark}, #{sellOrderType});

        set @group_id = last_insert_id();

        # 插入到销售记录 sell_order表中
        insert into sell_order (sell_unit_price, sell_number, goods_id, group_id)
        values
        <foreach collection="list" item="sellOrders" separator=",">
            (#{sellUnitPrice}, #{sellNumber}, #{sellGoodsId}, @group_id)
        </foreach>
    </insert>

    <select id="querySellOrderGroup" parameterType="SellOrderGroup">
        select *
        from sell_order_group sog
        <where>
            sur.sell_order_id = so.out_id
            <if test="sellStatus != null">
                and order_status = #{sellStatus}
            </if>
            <if test="SellNumber != null">
                and sell_number = #{SellNumber}
            </if>
            <if test="sellUnitPrice != null">
                and sell_unit_price = #{sellUnitPrice}
            </if>
            <if test="sellOrderRemark != null and sellOrderRemark != ''">
                and remark like #{sellOrderRemark}
            </if>
        </where>
    </select>

</mapper>















