<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.project.dao.SellOrderMapper">

    <resultMap id="sellOrderMap" type="SellOrder">
        <id column="out_id" property="sellOrderId"/>
        <result column="sell_time" property="sellTime"/>
        <result column="order_status" property="sellStatus"/>
        <result column="sell_unit_price" property="sellUnitPrice"/>
        <result column="sell_number" property="SellNumber"/>
        <result column="goods_id" property="sellGoodsId"/>
        <result column="remark" property="sellOrderRemark"/>
        <result column="customer_id" property="customerId"/>
        <!--        <association property="Goods" column="goods_id">-->
        <!--            -->
        <!--        </association>-->
    </resultMap>

    <insert id="addSellOrder" parameterType="SellOrder">
        # 插入数据到销售单表
        insert into sell_order (sell_time, order_status, sell_unit_price, sell_number, remark, goods_id)
        values (#{sellTime}, #{sellStatus}, #{sellUnitPrice}, #{SellNumber}, #{sellOrderRemark}, #{sellGoodsId});
        # 插入关系
        insert into sell_customer_relation (customer_id, sell_order_id)
        values (#{customerId}, last_insert_id());
    </insert>

    <update id="updateSellOrder" parameterType="SellOrder">
        update sell_order
        <set>
            <if test="sellStatus != null">
                order_status = #{sellStatus},
            </if>
            <if test="sellUnitPrice != null and sellUnitPrice != ''">
                sell_unit_price = #{sellUnitPrice},
            </if>
            <if test="sellTime != null and sellTime != ''">
                sell_time = #{sellTime},
            </if>
            <if test="sellOrderRemark != null and sellOrderRemark != ''">
                remark = #{sellOrderRemark},
            </if>
            <if test="SellNumber != null and SellNumber != 0">
                sell_number = #{SellNumber},
            </if>
            <!--            <if test="customerName != null and customerName != ''">-->
            <!--                remark = #{customerName},-->
            <!--            </if>-->
        </set>
        where out_id = #{sellOrderId};
    </update>

    <delete id="deleteSellOrder" parameterType="int">
        delete
        from sell_order
        where out_id = #{sellOrderId};
    </delete>

    <select id="getSellOrderById" parameterType="int" resultMap="sellOrderMap">
        select *
        from sell_order
        where out_id = #{sellOrderId};
    </select>

    <select id="querySellOrder" parameterType="SellOrder" resultMap="sellOrderMap">
        select * from sell_order
        <where>
            <if test="sellStatus != null">
                order_status = #{sellStatus}
            </if>
            <if test="SellNumber != null">
                and sell_number = #{SellNumber}
            </if>
            <if test="sellUnitPrice != null">
                and sell_unit_price = #{sellUnitPrice}
            </if>
            <if test="sellOrderRemark != null and sellOrderRemark != ''">
                and remark like #{sellOrderRemark}
            </if>
        </where>
    </select>


</mapper>















