<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.dao.SellOrderMapper">

    <resultMap id="sellOrderMap" type="SellOrder">
        <id column="out_id" property="sellOrderId"/>
        <result column="sell_unit_price" property="sellUnitPrice"/>
        <result column="sell_number" property="sellNumber"/>
        <result column="goods_id" property="sellGoodsId"/>
        <!--        <association property="goods" javaType="Goods">-->
        <!--            -->
        <!--        </association>-->
    </resultMap>

    <insert id="addSellOrder" parameterType="SellOrder">
        # 插入数据到销售记录表
        insert into sell_order (sell_unit_price, sell_number, goods_id)
        values (#{sellUnitPrice}, #{sellNumber}, #{sellGoodsId});
        <selectKey keyProperty="sellOrderId" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
    </insert>

    <update id="updateSellOrder" parameterType="SellOrder">
        update sell_order
        <set>
            <if test="sellUnitPrice != null and sellUnitPrice != ''">
                sell_unit_price = #{sellUnitPrice},
            </if>
            <if test="sellNumber != null and sellNumber != 0">
                sell_number = #{sellNumber},
            </if>
        </set>
        where out_id = #{sellOrderId};
    </update>

    <delete id="deleteSellOrder" parameterType="int">
        delete
        from sell_order
        where out_id = #{sellOrderId};
    </delete>

    <select id="getSellOrderById" parameterType="int" resultMap="sellOrderMap">
        select *
        from sell_order
        where out_id = #{sellOrderId};
    </select>

    <select id="querySellOrder" parameterType="SellOrder" resultMap="sellOrderMap">
        select so.* from sell_order so
        <where>
            <if test="sellNumber != null">
                sell_number = #{sellNumber}
            </if>
            <if test="sellUnitPrice != null">
                and sell_unit_price = #{sellUnitPrice}
            </if>
            <if test="sellOrderRemark != null and sellOrderRemark != ''">
                and remark like #{sellOrderRemark}
            </if>
            <if test="sellGoodsId != null">
                and goods_id = #{sellGoodsId}
            </if>
        </where>
    </select>


</mapper>















